head
  title= title
  //- SCROLLS
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/dist/scrolls.min.css')
  //- SPELLS
  script(src='/javascripts/dist/spells.min.js')