head
  base(href='/')
  meta(name="description")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" )
  title= title
  //- SCROLLS
  link(rel='stylesheet' href='/stylesheets/dist/scrolls.min.css')
  //- SPELLS
  script(src='/javascripts/dist/spells.min.js')